/* Reset some default styles */
ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

/* Basic styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-transform: uppercase;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: 0.5rem 0;
    }
}
#homepage-image {
    width: 100%; /* This will make the image responsive, taking the width of its container */
    max-width: 600px; /* You can set a max-width to ensure the image is not too large */
    display: block; /* This will block-align the image */
    margin: 0 auto; /* This will center the image in the container */
}
